::selection {
    background-color: hsl(var(--p));
    color: #fff;
}

html {
    scroll-behavior: smooth;
}



.shape-1 {
    position: fixed;
    top: -20%;
    right: -10%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: hsl(var(--p));
    z-index: 0;
}

.shape-2 {
    position: fixed;
    bottom: 10%;
    left: -15%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: hsl(var(--p));
    z-index: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.font-lato {
    font-family: 'Lato', sans-serif;
}

.w-11-5\/12 {
    width: 96%;
}

.w-112 {
    width: 500px;
}

.input:focus {
    -moz-outline-radius: var(--rounded-btn, 0.5rem);
    -webkit-border-radius: var(--rounded-btn, 0.5rem);
    -moz-border-radius: var(--rounded-btn, 0.5rem);
    -khtml-border-radius: var(--rounded-btn, 0.5rem);
    border-radius: var(--rounded-btn, 0.5rem);
}

.responsive-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}

.responsive {
    left: 0px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.responsive div {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}


.responsive .phone {
    background-image: url('../img/phone.png');
    position: relative;
    width: 95px;
    height: 245px;
    top: 0;
    left: 0;
    z-index: 5;
}

.responsive .phone iframe {
    width: 365px;
    height: 645px;
    top: 30px;
    left: 8px;
    overflow-y: hidden;
}

.responsive .desktop {
    background-image: url('../img/desktop.png');
    position: relative;
    width: 290px;
    height: 290px;
    top: 0;
    left: 0;
    z-index: 1;
}

.responsive .desktop iframe {
    width: 1206px;
    height: 689px;
    top: 13px;
    left: 13px;
    overflow-y: hidden;
}

.responsive .tablet {
    background-image: url('../img/tablet.png');
    position: relative;
    width: 220px;
    height: 400px;
    top: 0;
    left: 0;
    z-index: 3;
}

.responsive .tablet iframe {
    width: 893px;
    height: 1189px;
    top: 33px;
    left: 12px;
    overflow-y: hidden;
}

.responsive .laptop {
    background-image: url('../img/laptop.png');
    position: relative;
    width: 300px;
    height: 210px;
    top: 0;
    left: 0;
    z-index: 2;
}

.responsive .laptop iframe {
    width: 1002px;
    height: 605px;
    top: 11px;
    left: 40px;
    overflow-y: hidden;
}


.responsive iframe {
    z-index: 1;
}

/* MD */
@media (min-width: 768px) {
    .responsive-wrapper {
        max-width: 700px;
    }

    .responsive {
        height: 1000px;
    }

    .responsive .phone {
        position: relative;
        width: 95px;
        height: 200px;
        top: 105px;
        left: -10%;
        z-index: 5;
    }

    .responsive .phone iframe {
        width: 365px;
        height: 645px;
        top: 30px;
        left: 8px;
        overflow-y: hidden;
    }

    .responsive .desktop {
        position: relative;
        width: 566px;
        height: 538px;
        top: -160px;
        left: 0;
        z-index: 1;
    }

    .responsive .desktop iframe {
        width: 2356px;
        height: 1329px;
        top: 30px;
        left: 25px;
        overflow-y: hidden;
    }

    .responsive .tablet {
        position: absolute;
        width: 220px;
        height: 400px;
        top: 700px;
        left: 41%;
        z-index: 3;
    }

    .responsive .tablet iframe {
        width: 893px;
        height: 1189px;
        top: 33px;
        left: 12px;
        overflow-y: hidden;
    }

    .responsive .laptop {
        position: absolute;
        width: 477px;
        height: 307px;
        top: 370px;
        left: 32%;
        z-index: 2;
    }

    .responsive .laptop iframe {
        width: 1603px;
        height: 971px;
        top: 18px;
        left: 63px;
        overflow-y: hidden;
    }
}

/* LG */
/* @media (min-width: 1024px) {} */

/* XL */
@media (min-width: 1280px) {
    .responsive-wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 0px auto;
    }

    .responsive {
        left: 0px;
        height: 500px;
    }

    .responsive div {
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
    }


    .responsive .phone {
        background-image: url('../img/phone.png');
        position: absolute;
        width: 95px;
        height: 205px;
        top: 375px;
        left: 360px;
        z-index: 5;
    }

    .responsive .phone iframe {
        width: 365px;
        height: 645px;
        top: 30px;
        left: 8px;
        overflow-y: hidden;
    }

    .responsive .desktop {
        background-image: url('../img/desktop.png');
        position: absolute;
        width: 566px;
        height: 538px;
        top: 90px;
        left: 330px;
        z-index: 1;
    }

    .responsive .desktop iframe {
        width: 2356px;
        height: 1329px;
        top: 30px;
        left: 25px;
        overflow-y: hidden;
    }

    .responsive .tablet {
        background-image: url('../img/tablet.png');
        position: absolute;
        width: 220px;
        /* height: 400px; */
        top: 230px;
        left: 175px;
        z-index: 3;
    }

    .responsive .tablet iframe {
        width: 893px;
        height: 1189px;
        top: 33px;
        left: 12px;
        overflow-y: hidden;
    }

    .responsive .laptop {
        background-image: url('../img/laptop.png');
        position: absolute;
        width: 477px;
        height: 307px;
        top: 275px;
        left: 700px;
        z-index: 2;
    }

    .responsive .laptop iframe {
        width: 1603px;
        height: 971px;
        top: 18px;
        left: 63px;
        overflow-y: hidden;
    }
}